header{
    width: 1360px;
    height: 100px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
}
.header__logo{
position: relative;
}
h2{
color: white;
margin-left: 20px;
}
.header__card{
color: white;
display: flex;
gap: 20px;
margin-top: 20px;
}
input{
    position: relative;
    margin-top: 20px;
    margin-right: 20px;
width: 300px;
height: 50px;
}
.input{
    width: 14px;
    height: 14px;
    position: absolute;
    left: 1320px;
    top: 40px;
}
main{
    width: 1360px;
    height: 300px;
    background-color: black;
}
.h1{
    width: 200px;
   position: absolute;
   top: 50px;
   color: white;
   left: 30px;
}
.buy{
    background-color: greenyellow;
    width: 109px;
    height: 55px;
    font-size: 20px;
  position: absolute;
  top: 200px;
  left: 80px;
}
.h2{
    color: black;
    font-size: 40px;
    margin-left: 400px;
}
.img{
    width: 290px;
    height: 163px;
}
.card{
    width: 1360px;
    display: flex;
    justify-content: space-evenly;
    
}
.cards{
    box-shadow: 10px 10px 10px gray;
}
.yetim{
    width: 1280px;
    height: 350px;
    margin-top: 100px;
    display: flex;
    gap: 200px;
}
.yetim__card{
    width: 704px;
    height: 300px;
}
.yetim__cards{
    color: greenyellow;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.yet{
    width: 233px;
    height: 62px;
    background-color: greenyellow;
    font-size: 20px;
}
.pt{
    color: black;
    font-size: 15px;
}
footer{
    width: 1276px;
    height: 211px;
    display: flex;
    justify-content: space-between;
}
.foot{
    width: 100px;
    height: 31px;
}
.cards:hover{
    scale: 1.1;
}
.p1:hover{
font-size: 20px;
}
